.cart__heading--empty {
  background-color: coral;
}

.cart__heading--total {
  display: flex;
  justify-content: space-between;
}

.cart__total {
  background-color: rgb(210, 238, 181);
}

.cart__heading--summary {
  background-color: beige;
  padding: 20px 0;
}
